
  <a href="/subjects/<%=@subject.id%>/students/new">Add a Student</a> <a href="/subject/<%=@subject.id%>/edit">Edit this subject</a>

<h1><%=@subject.name%></h1>


<h2>Students for this subject</h2>
<%if !@subject.students.empty?%>
  <%@subject.students.each.with_index(1) do |student, i| %>
    <a href="/students/<%=student.id%>"><%="#{i}. #{student.name}"%><br><br></a>
    <%end%>
  <%else%>
    Looks like you don't teach any students for this subject silly!
<%end%>



<form class="" action="/subjects/<%=@subject.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Subject">
</form>
